__pycache__/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.idea/
.vscode/
.github/
.venv/

**/*.idea
**/*.vscode/**
**/*.ipynb_checkpoints/**
**/*__pycache__/**

*.pyc
*.pyo
*.coverage

*.txt
*.log

*.ipynb
