__pycache__/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.idea/
.vscode/
.github/
.venv/
lib/

**/*.idea
**/*.vscode/**
**/*.ipynb_checkpoints/**
**/*__pycache__/**

*.pyc
*.pyo
*.coverage

*.txt
*.json
*.log
*.png
*.dot
*.pdf
*.svg

*.html
*.js
*.css

*.ipynb

!options/pyvis.json