__pycache__/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.claude/
.github/
.idea/
.vscode/
.venv/
lib/

**/*.idea
**/*.vscode/**
**/*.ipynb_checkpoints/**
**/*__marimo__/**
**/*__pycache__/**

*.pyc
*.pyo
*.coverage

*.txt
*.log
*.png
*.dot
*.pdf
*.svg

*.html
*.js
*.css
